[submodule "frontend"]
	path = frontend
	url = https://github.com/aditya32193213/stocktradepro-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/aditya32193213/stocktradepro-backend
